Perceptron/bank-note/__MACOSX/._bank-note
Perceptron/bank-note/__MACOSX/bank-note/._data-desc
Perceptron/bank-note/__MACOSX/bank-note/._test.csv
Perceptron/bank-note/__MACOSX/bank-note/._train.csv
Perceptron/*.zip
